@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: "Fraunces", serif;
  --font-body: "Work Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

body {
  background-color: #2A2019;
  color: #F2E9DC;
}
